.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem 6rem;
  min-height: 100vh;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.timer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stopwatch {
  font-family: ui-monospace;
  font-size: 2rem;
  padding: 1rem 0;
}

.stopwatchStart {
  background-color: green;
  color: white;
  height: 4rem;
  width: 8rem;
}

.stopwatchReset {
}

.stopwatchStop {
  background-color: red;
  height: 4rem;
  width: 8rem;
}

.actions {
  align-items: center;
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-items: center;
  margin: 2rem 0;
}

.actionButton {
  padding: 10px;
  height: 4rem;
  width: 8rem;
}

.horizontal {
  border-top: 1px solid black;
  margin: 0.5rem 0;
}

.event {
  list-style-type: none;
  font-family: ui-monospace;
  line-height: 1.25;
}
